.background {
  table-layout: fixed;
  border-spacing: 0;
}
.background td {
  padding: 0;
}

.actor {
  position: absolute;
}
.wall {
  background: grey;
}
.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
